<?xml version="1.0"?>
<config>
    <modules>
        <AuIt_Gallery2>
            <version>1.4.0</version>
        </AuIt_Gallery2>
    </modules>
    <frontend>
        <routers>
            <auit_gallery2>
                <use>standard</use>
                <args>
                    <module>AuIt_Gallery2</module>
                    <frontName>au-it-gallery2</frontName>
                </args>
            </auit_gallery2>
        </routers>
    </frontend>
	<default>
	</default>
    <global>
        <blocks>
            <auit_gallery2>
                <class>AuIt_Gallery2_Block</class>
            </auit_gallery2>
        </blocks>
        <helpers>
            <auit_gallery2>
                <class>AuIt_Gallery2_Helper</class>
            </auit_gallery2>
        </helpers>
        <models>
            <auit_gallery2>
                <class>AuIt_Gallery2_Model</class>
            </auit_gallery2>
        </models>
        <cache>
            <types>
                <auit_de translate="label" module="auit_gallery2"><label>AuIt Gallery</label></auit_de>
            </types>
        </cache>
    </global>
 </config>